/*------Eventos click :v------*/
*{
    margin:0;
    padding:0;
}
.contenedor{
    display: flex;
    flex-wrap: nowrap;
    transition: all 0.5s ease;
}
#mostrar-ocultar{
    display: none;
}
.menu-icon:hover{
    cursor: pointer;
}
#mostrar-ocultar:checked ~ #toggle{
    position: relative;
    left:0;
}
#toggle{
    transition: all 0.5s ease;
}
.table{
    display: flex;
    position: absolute;
    left: -20%;
    background-color: rgba(33, 33, 33,0.9);
    height: 90vh;
    width:20%;
}
ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 100%;
}
ul li:hover{
    background-color: rgba(70, 130, 180,0.6);
}
ul li{
    border-bottom: 1px solid black;
    width: 100%;
}
ul li .menu{
    text-decoration: none;
    color: whitesmoke;
    font-size: 1.2em;
    display: block;
    padding: 20px;
}
.menu i{
    margin-right: 15px;
}
ul li .menu:hover{
    font-weight: bold;
}

/*------------------MAIN--------------------------------*/
.main{
    margin:20px;
    display: block;
    width: 100%;
    height: 90vh;
    background-color: teal;
}