/*------Eventos click :v------*/
*{
    margin:0;
    padding:0;
}
.contenedor{
    display: flex;
    /*flex-wrap: nowrap;*/
}
#mostrar-ocultar{
    display: none;
}
label .menu-icon{
    position:absolute;
    top: 2px;
}
.menu-icon:hover{
    cursor: pointer;
}
#mostrar-ocultar:checked ~ #toggle{
    position: relative;
    left:0;
}
.table{
    display: flex;
    position: fixed;
    left: -20%;
    background-color: rgba(33, 33, 33,0.9);
    height: 91vh;
    width:20%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: whitesmoke;
}
ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 100%;
}
ul li:hover{
    background-color: rgba(70, 130, 180,0.1);
    cursor: pointer;
}
ul li{
    border-bottom: 1px solid black;
    width: 100%;
}
ul li .menu{
    text-decoration: none;
    color: whitesmoke;
    display: block;
    font-size: 1.2em;
    padding: 20px;
}
ul li .combito{
    width: 20%;
}
.menu i{
    margin-right: 15px;
}
ul li .menu:hover{
    font-weight: bold;
}
.cont-lista{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.cont-lista .menu{
    width: 100%;
}
.cont-lista .combito{
    width: 20%;
}
.combito{
    color:rgba(255,255,255,0.3);
    display: none;
}
.cont-lista .menu:hover{
    width: 80%;
}
.cont-lista .menu:hover + .combito{
    display:initial;
}
