@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);

.container {
    height: 100vh;
}
/*login page*/
.login-body {
    background-color: #f1f2f7;
}
.form-signin {
    max-width: 330px;
    margin: 100px auto 0;
    background: #fff;
    border-radius: 6px;
    -webkit-border-radius: 5px;
}
.form-signin h2.form-signin-heading {
    margin: 0;
    padding:16px 15px;
    text-align: center;
    background: #042768;
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
}
.mail-option .chk-all input[type=checkbox] {
    margin-top: 0;
}
.form-signin input[type="text"], .form-signin input[type="password"] {
    margin-bottom: 15px;
    font-size: 12px;
}
.form-signin .btn-login {
    background: #042768;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    box-shadow: 1px 2px 5px #03122F;
    margin-bottom: 20px;
}
.form-signin p {
    text-align: center;
    color: #b6b6b6;
    font-size: 16px;
    font-weight: 300;
}
.registrar,.recuperar{
    color: #89817f;
    text-decoration: none;
}
.registrar:hover,.recuperar:hover {
    color: midnightblue;
    font-weight: bolder;
    cursor: pointer;
}
.login-wrap {
    padding: 20px;
}
/********TAMAÑO DEL MODAL FORMULARIO*******/        
@media (min-width: 992px){
    .modal-lg {
        width: 960px;
    }
}